.button {
  background-color: #46bbfa;
  background-image: linear-gradient(180deg, #46bbfa 0%, #42a6e9 100%);
  border: none;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  border-radius: 8px;
  box-shadow: 0 2px 2px #0000002e;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 500;
  transition: 220ms all ease-in-out;
}

.button:hover:not(:disabled){
  background-color: #2fb5fe;
  background-image: linear-gradient(180deg, #2fb5fe 0%, #28a0ef 100%);
  box-shadow: 0 3px 5px #0000002e;
}

.button:active {
  background-color: #2fb5fe;
  background-image: linear-gradient(180deg, #2fb5fe 0%, #28a0ef 100%);
  box-shadow: 0 3px 5px #0000002e;
  transform: translateY(4px);
}

.button:disabled {
  background-color: #76c9f7;
  background-image: linear-gradient(180deg, #76c9f7 0%, #82c0e9 100%);
}
