.mainContainer {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.mainContainer h2 {
  align-self: center;
  font-size: 21px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 25px;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.artistsResult {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
  margin-right: 42px;
  border-right: 1px solid #000;
  padding-right: 21px;
}

.actualResult {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  box-shadow: 0.01rem 0.02rem 0.4rem #5e60617e;
  margin-top: 12px;
  margin-bottom: 12px;
  transition: box-shadow 300ms;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actualResult img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  margin-top: 12px;
}

.actualResult:hover {
  box-shadow: 0.01rem 0.2rem 0.7rem #0094e9c5;
}
.actualResultClicked {
  box-shadow: 0.01rem 0.2rem 0.7rem #0094e9c5;
}

.albumContainer {
  width: 45%;
}

.albumsResult {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.subResult {
  width: 140px;
  height: 140px;
  margin: 12px 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subResult img {
  width: 100px;
}

.subResult p {
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .artistsResult {
    border: none;
  }
}